/* Main tags */
body {
    background-color: #EBF5FF;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2em;
    border-bottom: 0.15em solid black;
    background-color: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: .3em 0em;
    
}

.logo
{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0px;
    margin-left: 1em;
}

.logo a
{
    text-decoration: none;
}

.navlinks
{

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    line-height: .5em;
    padding: 0em .5em;
}

.signin
{
    margin-right: 1em;
    position: absolute;
    right: 0px;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 1em;
    border-top: 0.15em solid black;
    margin-top: auto;
}

h1 {
    text-align: left;
    margin-left: 2em;
}

/* Classes */

.mainbody {
    background-color: white;
    margin: auto;
    padding: 1rem;
    max-width: 1400px;
    /* min-height: 100vh; */
}

.title {
    text-align: center;
    font-size: 5em;
    margin: 0 0 2% 0;
}

/* Picture Ids */

#cloudpicheader {
    height: 2em;
    /* padding: .5em 0em 0em .5em; */
}

#cloudpic {
    display: block;
    margin: auto;
    width: 50%;
}
